<div class="row" ng-controller="newAcctFormCtrl" ng-init="initialize()">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3>How much do you need set aside to avoid financial trouble?</h3>
    <form name="newAccount" novalidate>
      <div class="form-group">
        <label for="savings">
          <h4>{{categorizedQuestions["savings"]}}</h4><h4><em>{{categorizedQuestions["savings note"]}}</em></h4>
        </label>
        <input id="savings" type="number" class="form-control" ng-model="newAccount.savings">
      </div>
      <div class="form-group">
        <label for="payFrequency">
          <h4>{{categorizedQuestions["pay frequency"]}}</h4>
        </label>
        <select id="payFrequency" class="form-control" ng-model="newAccount.pay_frequency_id" ng-options="payFrequency.id as payFrequency.name for payFrequency in payFrequencies track by payFrequency.id"></select>
      </div>
      <div class="form-group">
        <h4>{{categorizedQuestions["income"]}}</h4>
        <p class="form-inline">{{categorizedQuestions["income always"]}} <input type="number" class="form-control" ng-model="newAccount.income" ng-disabled="newAccount.incomeArray">
        </p>
        <p>OR</p>
        <p class="form-inline">{{categorizedQuestions["income range"]}} between <input type="number" class="form-control" ng-model="newAccount.incomeArray[0]" ng-disabled="newAccount.income" ng-blur="resetArray()"> and  <input type="number" class="form-control" ng-model="newAccount.incomeArray[1]" ng-disabled="newAccount.income" ng-blur="resetArray()"></p>
      </div>
      <div class="form-group">
        <label for="expenses">
          <h4>{{categorizedQuestions["expenses"]}}</h4>
        </label>
        <input id="expenses" type="number" class="form-control" ng-model="newAccount.expenses">
        <h4><em>{{categorizedQuestions["expenses note"]}}</em></h4>
      </div>
      <div class="form-group">
        <label for="difficulty">
          <h4>{{categorizedQuestions["difficulty"]}}</h4>
        </label>
        <select id="difficulty" class="form-control" ng-model="newAccount.difficulty_id" ng-options="difficulty.id as difficulty.name for difficulty in difficulties track by difficulty.id"></select>
      </div>
      <div class="form-group">
        <h4>Are you ready to see how much you need?</h4>
        <button type="submit" class="btn btn-default" ng-click="submitAccount()">Submit</button>
        <h4 ng-if="errorMessage">Please fill out all sections of the form.</h4>
      </div>
    </form>
  </div>
</div>